<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="logdirectory" value="log"/>
        <Property name="networkLogFile" value="networkLog"/>
    </Properties>
    <Appenders>
        <RollingFile name="NetworkLog" fileName="${logdirectory}/${networkLogFile}.log"
                     filePattern="${logdirectory}/$${date:yyyy-MM}/${networkLogFile}-%d{yyyy-MM-dd}-%i.log.gz">
            <Filters>

                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>

            </Filters>
            <PatternLayout
                    pattern="B,%d{yyyy-MM-dd'T'HH:mm:ss},%p,${sys:user.name},${appname},%c{1}:%L,%m%n"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20">
                <Delete basePath="${logdirectory}" maxDepth="2">
                    <IfFileName glob="*/${networkLogFile}-*.log.gz"/>
                    <IfLastModified age="P90D"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>


        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="NetworkLog"/>
        </Root>
    </Loggers>
</Configuration>